<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html  xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Официальный сайт Национального совета Айкидо России</title>
    <%= stylesheet_link_tag 'aik' %>
	<%= stylesheet_link_tag 'ddsmoothmenu' %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'jquery.color' %>
	<%= javascript_include_tag 'ddsmoothmenu' %>
	<%= javascript_include_tag 'application' %>
	<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "smoothmenu1", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script>
</head>
<body>
<div id="roots" align="center">
	<div id="top">
    	<table>
      		<tr>
				<td></td>
				<td>
          			<div class="black_name">Официальный сайт</div>
          			<div class="black_name">Национального совета</div>
          			<div class="red_name">Айкидо России</div>
        		</td>
        		<td id="adress_top">
	          		г Москва, ул Короленко, д 2, стр 23, корпус 1
    	    	</td>
      		</tr>
    	</table>
  	</div>
	<!-- Menu -->

<div id="smoothmenu1" class="ddsmoothmenu">
<ul>
<li><%=link_to 'Главная', ('/') %>
<li><%=link_to 'Новости', news_path %></li>
<li><%=link_to 'Галерея', galleries_path %>
  <ul>
  <li><%=link_to 'Фото', :controller => "galleries", :action => "photo" %></li>
  <li><%=link_to 'Видео', :controller => "galleries", :action => "video" %></li>
  </ul>
</li>
<li><%=link_to 'Документы', documents_path %></li>
<li><%=link_to 'События', events_path %></li>
<li><%=link_to 'О нас', nsars_path %></li>
<li><%=link_to 'Руководство', participants_path %></li>
<li><%=link_to 'Контакты', contacts_path %></li>
</ul>
</div>

	<!-- Content -->
	<div id="content">
  		<% flash.each do |key,value| %>
        <div id="flash" class="flash_<%= key %>" >
        	<span class="message"><%= value %></span>
        </div>
        <% end -%>
	  	<%= yield %>
	</div>
	<!-- Footer -->
	<div id="footer">
  		<table>
    		<tr>
      			<td></td>
      			<td><div>г Москва, ул Короленко, д 2, стр 23, корпус 1</div></td>
      			<td><div>2010-2011 &copy; Национальный совет Айкидо России</div></td>
    		</tr>
  		</table>
	</div>
</div>
</body>
</html>